html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #333;
    font-family: 'Dosis', sans-serif;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #55acee;
}

nav img{
    width: 50px;
    height: 50px;
    padding-top: 12px;
}
nav p, nav h1{
    display: inline;
}

.navlink {
    padding: 5px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    padding-left: 20px;
    border-radius: 5px;
    background-color: #55acee;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}

#oppFormContainer{
    display: inline;
    width: 100%;
    clear: bottom;
}
#oppForm{
    margin: 0;
    margin-right: 10px;
    padding: 10px;
    float: left;

    background-color: #333;
    color: white;
    height: 100%;
    width:20%;

    box-shadow: 4px 4px 10px 0 #000;
}

#passwordChangeForm, #signupForm, #loginForm{
    position: relative;
    left: 10%;
    width: 70%;
    height: 100%;
    padding: 20px;

    background-color: #333;
    color: white;
}
#passwordChangeForm *, #signupForm *, #loginForm *{
    position: relative;
    left: 5%;
    width: 90%;
}

#oppInfo{
    height: 200px;
}

input, textarea{
    display: block;
    margin: 10px;
}

.opp{
    padding: 10px;
    margin: 10px;
    background-color: #55acee;
    box-shadow: 4px 4px 5px 0 #000;
    border-radius: 5px;
    width: 40%;
    float: left;
    color: black;
}

.oppList{
    float: left;
    display: inline-block;
    position: relative;
    width: 75%;
    color: white;
}

#filters{
    background-color: #333;
    padding: 10px;
    color: white;
    width: 100%;
}

button, input, textarea{
    border: none;
    box-shadow: none;

    padding: 10px;
    margin: 5px;
    width: 120px;
}
button, .oppRespond, .oppBookmark, .makeOppSubmit{
    font-size: 1em;
    background-color: #66bdff;
    border-radius: 10px;
}
button:hover, .oppRespond:hover, .oppBookmark:hover, .makeOppSubmit:hover{
    background-color: #99efff;
    transition: background-color 0.4 ease;
}
.selected{
    background-color: #99efff;
}